.sun {
  z-index: 9;
}

.content:hover {
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes spin-backward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
