.celestial-card {
  position: relative;
  width: 35vw;
  background-color: #101010;
  border-right: 2px solid #BDBDBD;
  box-shadow: 1.2em 0px 0.8em 0em #212121;
  overflow-x: hidden!important;
  animation: card-show 0.3s ease-in 0s 1;
  z-index: 99;
}

.celestial-card.hide {
  transform: translateX(-35vw);
  animation: card-hide 0.3s ease-in 0s 1;
}

.celestial-card > div > div {
  width: 35vw;
}

.btn-close {
  width: 2em;
  height: 2em;
}

@keyframes card-show {
  from {
    transform: translateX(-35vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes card-hide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-35vw);
  }
}
  
@media (min-width: 1440px) {
  .celestial-card h1  {
    font-size: 2.4rem;
  }

  .celestial-card h5, h6, p, span {
    font-size: 1.2rem;
  }

  .celestial-card img {
    width: 360px;
  }
}

@media (max-width: 1440px) {
  .celestial-card h1  {
    font-size: 1.8rem;
  }

  .celestial-card h5, h6, p, span {
    font-size: 1rem;
  }

  .celestial-card img {
    width: 240px;
  }
}

@media (max-width: 1024px) {
  .celestial-card h1  {
    font-size: 1.5rem;
  }

  .celestial-card h5, h6, p, span {
    font-size: 0.8rem;
  }

  .celestial-card img {
    width: 240px;
  }
}

@media (max-width: 768px) {
  .celestial-card h1  {
    font-size: 1.2rem;
  }

  .celestial-card h5, h6, p, span {
    font-size: 0.6rem;
  }
}

@media (max-width: 425px) {
  .celestial-card h1  {
    font-size: 0.8rem;
  }

  .celestial-card h5, h6, p, span {
    font-size: 0.4rem;
  }
}
  