.App {
  background-image: url('./images/background.png');
  background-color: #212121;
}

.App span {
  font-size: 1em;
}

@media screen and (max-width: 1440px) {
  .App span {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1200px) {
  .App span {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  .App span {
    font-size: 0.28em;
  }
}

@media screen and (max-width: 425px) {
  .App span {
    font-size: 0.24em;
  }
}

@media screen and (max-width: 375px) {
  .App span {
    font-size: 0.2em;
  }
}