.PickAnotherDevice {
  background-image: url('./images/background.png');
  background-color: #212121;
}

.PickAnotherDevice span {
  font-size: 0.8em;
}

@media screen and (max-width: 600px) {
  .PickAnotherDevice span {
    font-size: 0.78em;
  }
}

@media screen and (max-width: 425px) {
  .PickAnotherDevice span {
    font-size: 0.52em;
  }
}

@media screen and (max-width: 375px) {
  .PickAnotherDevice span {
    font-size: 0.5em;
  }
}